<?xml version="1.0" encoding="UTF-8"?>
<config>
  <SortTypes>
    <SortType>bubble</SortType>
    <SortType>quick</SortType>
    <SortType>insertion</SortType>
    <SortType>merge</SortType>
    <SortType>heap</SortType>
    <SortType>radix</SortType>
    <SortType>red_black_tree</SortType>
    <SortType>sort_tree</SortType>
  </SortTypes>
  <ArraySizes>
    <ArraySize>100</ArraySize>
    <ArraySize>200</ArraySize>
    <ArraySize>400</ArraySize>
    <ArraySize>800</ArraySize>
    <ArraySize>1600</ArraySize>
  </ArraySizes>
  <RepeatCount>10</RepeatCount>
</config>
